body{
    background-color: blueviolet;
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 200px 100px;
    justify-content: center;
}
button{
    background-color: blue;
    color: white;
    border: 4px;
    cursor: pointer;
}